<connectionStrings>
	<add name="SCPPContext" connectionString="metadata=res://*/DataAcces.SCPPModel.csdl|res://*/DataAcces.SCPPModel.ssdl|res://*/DataAcces.SCPPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HOGK8UO\OMARSERVER;initial catalog=SCPP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>